<form class="p-3 border rounded" style="max-width: 600px; margin: auto">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input
                    type="text"
                    formControlName="nome"
                    class="form-control"
                    placeholder="Digite seu nome"
                />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="text"
                    formControlName="email"
                    class="form-control"
                    placeholder="Digite seu email"
                />
            </div>
        </div>
    <div class="col-6">
      <div class="form-group">
        <label for="celular">Celular</label>
        <input
          type="text"
          formControlName="celular"
          class="form-control"
          placeholder="Digite seu celular"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="cidade">Cidade</label>
        <input
          type="text"
          formControlName="cidade"
          class="form-control"
          placeholder="Digite sua cidade"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="estado">Estado</label>
        <input
          type="text"
          formControlName="estado"
          class="form-control"
          placeholder="Digite seu estado"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="codPin">Código PIN</label>
        <input
          type="text"
          formControlName="codPin"
          class="form-control"
          placeholder="Digite seu código PIN"
        />
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input
          type="text"
          formControlName="cpf"
          class="form-control"
          placeholder="Digite seu CPF"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="endereco">Endereço</label>
        <textarea
          formControlName="endereco"
          class="form-control"
          placeholder="Digite seu endereço"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-6 text-center">
      <button type="reset" class="btn btn-secondary">Reiniciar</button>
    </div>
    <div class="col-6 text-center">
      <button type="submit" class="btn btn-success">Salvar Paciente</button>
    </div>
      
  </div>
</form>
